@import "../../global.scss";

.topbar{

    width: 100%;
    height: 70px;
    background-color: white;
    color: $maincolor;
    position: fixed;
    top: 0;
    // set the z-index higher than other pages so header is always visible
    z-index: 2;

    .wrapper{
        margin: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left{
            display: flex;
            align-items: center;

            .logo{

                font-size: 2rem;
                font-weight: 800;
                // will get rid of underline and any other default stylings
                text-decoration: none;
                //will inherit color properties of parent
                color: inherit;
                margin-right: 2.5rem;
            }

            .itemContainer{
                display: flex;
                align-items: center;
                margin-right: 2.5rem;
                
            }
        }

        .right{

            
            .hamburger{
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                span{
                    width: 100%;
                    height: 3px;
                    background-color: $maincolor;
                }
            }
        }
    }

}
