@import "../../global.scss";

.intro{
    
    background-color: white;
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    .left{
        flex: 0.5;
        display: flex;
        align-items: center;
        justify-content: center; 
        overflow: hidden;
       
        
        background-color: white;
        
        .imgContainer{
            width: 600px;
            height: 800px;
            background-color: $maincolor;
            border-radius: 100%;
            overflow: hidden;
            display: flex;

           @include mobile{
               align-items: flex-end;
           }

            
            img{
                height: 100%;
                width: 100%;
                bottom: 0;

                @include mobile{
                    height: 75%;

                }
            }
        }
    }
    .right{
        flex: 0.5;
        background-color: white;
        align-items: center;
        justify-content: center;

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 1.75rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{
                padding-left: 0;
                align-items: center;
            }
            

            h1{
                font-size: 4rem;
                margin: .75rem 0;

                @include mobile{
                    font-size: 1.8rem;
                }

            }
            h2{
                font-size: 2rem;
            }

            article{
                max-width: 52ch;
            }


        }
        a{

            position: absolute;
            bottom: 0.75rem;

            

            .downArrow{
                width: 8rem;
                height: 8rem;
                color: $maincolor;

                @include mobile{
                    display: none;
                }
            }
        }
    }
}